<!DOCTYPE>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | Home</title>
	</head>
<body>
	<h1>Sample App</h1>
	<p>FThis is the home page for <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		Sample Application
	</p>
</body>
</html>
