<h1>Sample App</h1>
<p>
	This is the home page for <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	Sample Application
</p>

<%= link_to "Sign Up already!", signup_path, :class => "signup_button round" %>