<header>
	<%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
	<!-- note that there are parentheses here, that don't appear with the "stylesheet_link_tag"
	command above.  This is for something Hartl will add later, having to do with
	making the image clickable -->
	<nav class="round">
		<ul>
			<li><%= link_to "Home", '#' %></li>
			<li><%= link_to "Help", '#' %></li>
			<li><%= link_to "Sign your life away", '#' %></li>
			<!-- the # is a stub to allow us to use named routes later -->
		</ul>
	</nav>
</header>
